.header {
  width: 85%;
  height: 5rem;
  /* background-color: rgb(231, 114, 114); */
  margin-top: 3rem;
  text-align: right;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline-block;
  padding-right: 1.5rem;
}
