.diary-item-container {
  width: 55%;
  background-color: rgba(139, 139, 139, 0.555);
  padding: 1.5rem;
  display: block;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  animation-name: FadeOut;
  animation-duration: 0.5s;
  transition: all 0.2s;
  /* color: white; */
}

.date {
  color: rgb(54, 54, 54);
  font-weight: lighter;
  border-bottom: solid;
  border-width: 0.05rem;
  border-color: rgb(116, 116, 116);
  /* padding-bottom: 0.2rem; */
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content {
  text-align: justify;
  text-justify: inter-word;
  /* font-weight: lighter; */
  white-space: pre-wrap;
}

.btn-container {
  margin-top: 0.5rem;
}

@keyframes FadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.diary-item-container:hover {
  transform: scale(1.05);
  background-color: rgba(211, 211, 211, 0.555);
}
