@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cookie&family=Dancing+Script:wght@500&family=Nunito:wght@300;500;600;800;900&display=swap");

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* font-family: 'Cedarville Cursive', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 62.5;
}

body {
  box-sizing: border-box;
  /* background-color: green; */
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(../public/images/diary-2.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}
